body {
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

/***font css***/


/***Header css***/

header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 120px;
    max-width: 1280px;
}

.headline-text h1 {
    color: #0E0E0E;
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}

.sign-in-btn button {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #006A50;
    border-radius: 8px;
    border: 1px solid #006A50;
    cursor: pointer;
}

.sign-in-btn button:hover {
    background-color: #006A50;
    color: #ffffff;
}

/***Banner css***/
.banner-section {
    max-width: 1280px;
    margin: 0 auto;
    background-color: #C6E4D6;
    border-radius: 20px;
}

.banner-box {
    padding: 60px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-content p {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: #0E0E0E;
    opacity: 50%;
}

.banner-content h1 {
    margin: 16px 0 24px 0;
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}

.banner-content button {
    background-color: #006A50;
    color: #ffffff;
    padding: 17px 34px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.banner-content button:hover {
    color: #006A50;
    background-color: #ffffff;
}

/***pillar css***/
.pillar-section {
    margin: 80px auto;
    max-width: 1280px;
}

.pillar-section h1 {
    margin: 0 0 32px 0;
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}

.pillar-boxes {
    display: flex;
    align-items: center;
    gap: 24px;
}

.pillar-box {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 16px;
}

/***vision css***/
.vision-section {
    margin: 0 auto;
    max-width: 1280px;
}

.vision-section h1 {
    margin: 0 0 24px 0;
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}

.vision-section .vision-text {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 24px;
    color: #0E0E0E;
    opacity: 70%;
}

.vision-boxes {
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 32px 0;
}

.vision-box {
    padding: 32px;
    border-radius: 16px;
    width: 410px;
}

.vision-box h3 {
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 24px 0 12px 0;
}

.vision-box p {
    font-weight: 400;
    line-height: 24px;
    color: rgba(14, 14, 14, 0.7);
    margin: 0 0 20px 0;
}

.vision-boxes .vision-box-1 {
    background-color: rgba(84, 144, 245, 0.2);
}

.vision-boxes .vision-box-1 button {
    padding: 11px 20px;
    background-color: rgba(84, 144, 245, 1);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}

.vision-boxes .vision-box-1 button:hover {
    background-color: #FFFFFF;
    color: rgba(84, 144, 245, 1);
}

.vision-boxes .vision-box-2 {
    background-color: rgba(198, 228, 214, 1);
}

.vision-boxes .vision-box-2 button {
    padding: 11px 20px;
    background-color: rgba(9, 161, 92, 1);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}

.vision-boxes .vision-box-2 button:hover {
    background-color: #FFFFFF;
    color: rgba(9, 161, 92, 1);
}

.vision-boxes .vision-box-3 {
    background-color: rgba(247, 235, 207, 1);
}

.vision-boxes .vision-box-3 button {
    padding: 11px 20px;
    background-color: rgba(255, 194, 57, 1);
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    cursor: pointer;
}

.vision-boxes .vision-box-3 button:hover {
    background-color: #FFFFFF;
    color: rgba(255, 194, 57, 1);
    ;
}


/***quote css***/
.quote-section {
    margin: 0 auto;
    max-width: 1280px;
    background-color: #FFFFFF;
    border-radius: 16px;
    margin-bottom: 40px;

}

.quote-content {
    padding: 48px 24px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-origin: content-box;
}

.quote-content .quote-comment {
    color: rgba(14, 14, 14, 0.8);
    margin: 25px 0 0 0;
}

.quote-content .quote-author {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.quote-content .quote-designation {
    color: rgba(14, 14, 14, 0.6);

}

/***opinion css***/
.opinion-section {
    margin: 40px auto;
    max-width: 1280px;
}

.opinion-section .opinion-header {
    margin: 0 0 24px 0;
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}

.opinion-section .opinion-option {
    background-color: #FFFFFF;
    padding: 32px;
    border-radius: 16px;
}

.opinion-section .opinion-option .option-heading {
    background-color: rgba(198, 228, 214, 1);
    display: flex;
    justify-content: space-between;
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
}

.option-heading h3 {
    margin: 0;
    font-size: 20px;
    color: rgba(14, 14, 14, 1);
}

.option-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(14, 14, 14, 0.15);

}

.option-box .option-text {
    padding: 24px;
}

.option-box .option-text p {
    margin: 0;
    font-weight: 600;
}

.option-box .option-ceckbox {
    padding: 24px;
    border-left: 1px solid rgba(14, 14, 14, 0.15);
}

.option-box .option-ceckbox .options {
    background-color: rgba(198, 228, 214, 1);
    padding: 10px 4px;
    border: 1px solid rgba(14, 14, 14, 1);
    border-radius: 4px;
    font-weight: 600;
}

/***Recent News css***/
.recent-news-section {
    margin: 40px auto;
    max-width: 1280px;
}

.recent-news-title {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 12px 0;
}

.recent-news-text {
    margin: 12px 0 20px 0;
    line-height: 1.4;
    color: rgba(14, 14, 14, 0.7);
}

.recent-news-box-left {
    margin: 12px 0;
    background-color: #FFFFFF;
    padding: 48px;
    display: flex;
    border-radius: 24px;
    column-gap: 32px;
}

.recent-news-box-right {
    margin: 24px 0;
    background-color: #FFFFFF;
    padding: 48px;
    display: flex;
    border-radius: 24px;
    column-gap: 32px;
}

.news-box-img {
    border-radius: 24px;
}

.news-text-title {
    margin: 0;
    font-size: 32px;
    color: rgba(14, 14, 14, 0.8);
}

.news-text-date-time {
    display: flex;
    column-gap: 15px;
}

.news-text-date-time p {
    margin: 5px 0;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}

.news-text-main {
    margin: 12px 0 32px 0;
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}

.news-text.btn {
    background-color: #006A50;
    font-size: 18px;
    padding: 13px 26px;
    color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.news-text.btn:hover {
    color: #006A50;
    background-color: #ffffff;
    border: 1px solid #006A50;
}

/***Donate css***/
.donate-section {
    margin: 40px auto;
    max-width: 1280px;
}

.donate-title-text {
    text-align: center;
    margin-bottom: 32px;
}

.donate-title {
    margin: 0 0 24px 0;
    font-size: 40px;
}

.donate-text {
    color: rgba(14, 14, 14, 0.7);
    margin: 0;
    line-height: 24px;
}

.donate-amount {
    text-align: center;
    margin-bottom: 32px;
}

.amount-btn {
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    background-color: #FFFFFF;
    border-radius: 16px;
    border-color: rgba(14, 14, 14, 0.15);
    margin: 0 12px;
    cursor: pointer;
}

.amount-btn-focus {
    background-color: rgba(198, 228, 214, 1);
}

.amount-btn:hover {
    background-color: rgba(198, 228, 214, 1);
}

.donate-amount-field {
    margin: 0 auto;
    display: flex;
    width: 75%;
    padding: 20px 40px;
    text-align: center;
    margin-bottom: 32px;
    border: none;
    border-bottom-color: rgba(14, 14, 14, 0.15);

}

.donate-amount-field::placeholder {
    font-size: 20px;
    color: rgba(14, 14, 14, 0.3);
}

.donate-btn {
    margin: 0 auto;
    display: flex;
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.donate-btn:hover {
    background-color: #FFFFFF;
    color: #006A50;
    border: 1px solid #006A50;
}